* {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: tomato;
}


/* header and navegation style */
nav {
    display: flex;
    justify-content: space-between;
    /* margin: 50px 200px; */
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

.nav-title {
    font-weight: 350;
    font-size: 45px;
}

.btn-primary {
    color: white;
    font-weight: 400;
    font-size: 15px;
    border: 0;
    padding: 10px 3px;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    background: tomato;
}

.header {
    margin-top: 0px;
    background: #FFF8F3;
    background-image: url(../../image/header_bg.png), url(../../image/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* banner style */
.banner {


    margin: 0px 50px 200px 200px;

    display: flex;
    align-items: center;
}

section {
    margin-top: 130px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;

}

.banner-discription {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    /* margin-bottom: 20px; */
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;

}


/* about section style */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 50px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.section-discription {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
}

/* ubder about */
.about-info-continer {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 20px;
    color: #757575;

}

.info-discription {
    font-size: 20px;
    color: #757575;

}

.Do-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 20px;
    color: #757575;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFF8F3;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-discroption {
    color: #757575;
    text-align: justify;
}